kind: Service
apiVersion: v1
metadata:
  name: db
  namespace: voting-app
  labels:
    app: db
spec:
  selector:
    app: db
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP